# -------------------------
# DEPENDENCIES AND ARTIFACTS
# -------------------------

# Node Dependencies
/node_modules
/vendor
/dist
/build
/tmp

# Lock files and error logs
*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
logs
*.log
dist-ssr

# -------------------------
# EDITOR AND SYSTEM
# -------------------------

# macOS and Windows system files
.DS_Store
Thumbs.db

# JetBrains IDEs (e.g., WebStorm, IntelliJ)
.idea/

# Visual Studio Code
.vscode/*
!/.vscode/extensions.json

# Local history files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?